{% extends "layout.html" %}
        {% block content %}
          <div>
            <!-- <form method = "POST" action = "http://localhost:5000/application_stage/"> -->
            <form method = "POST" action = "">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend>{{ job.title }} - Application Stage</legend>
                    <div class="form-group">
                        {{ form.status.label(class="form-control-label") }}
                        {{ form.status(class="form-control form-control-lg") }}
                    </div>
                     <div class="form-group">
                        {{ form.note.label(class="form-control-label") }}
                        {{ form.note(class="form-control form-control-lg") }}
                    </div>
                </fieldset>
                <div>
                    {{ form.submit(class="btn btn-outline-info")}}
                </div>
            </form>
        </div>
        {% endblock content %}