{% extends "layout.html" %}
        {% block content %}
          <form action = "http://localhost:5000/get_jobs" method = "POST">
             <p>Keyword <input type = "text" name = "Keyword" /></p>
             <p>Location <input type = "text" name = "Location" /></p>
             <p>Radius <input type = "text" name = "Radius" /></p>
             <p>Posted Within <input type ="text" name = "Posted" /></p>
             <p><input type = "submit" value = "Get Jobs" /></p>
          </form>
        {% endblock content %}